Repository mnphpexpert/next-auth, changes with the labels that .github/labeler.yml gives for each.
All labels: test, documentation, providers, adapters, databases

docs(adapter): Update Prisma docs (#1279)
  www/docs/schemas/adapters.md
Labels: documentation, adapters, databases

chore: disable semantic releases temporarily
  .github/workflows/release.yml
Labels: none

chore: update release flow
  .github/workflows/build.yml
  .github/workflows/integration.yml
  .github/workflows/release.yml
  .releaserc.json
  CONTRIBUTING.md
  release.config.js
Labels: documentation

docs: Update client.md (#1289)
  www/docs/getting-started/client.md
Labels: documentation

docs(provider): Update azure-ad-b2c (#1288)
  www/docs/providers/azure-ad-b2c.md
Labels: documentation

docs(provider): auto-generate providers list (#1295)
  .gitignore
  src/providers/vk.js
  www/docs/configuration/providers.md
  www/docs/providers/vk.md
  www/package.json
  www/providers.json
  www/scripts/generate-providers.js
Labels: documentation, providers

.github/labeler.yml:

test:
  - test/**/*

documentation:
  - www/**/*
  - ./**/*.md

providers:
  - src/providers/**/*
  - www/docs/configuration/providers.md
  - test/integration/**/*

adapters:
  - src/adapters/**/*
  - www/docs/schemas/adapters.md

databases:
  - www/docs/schemas/*.md
  - test/docker/databases/**/*
  - www/docs/configuration/databases.md
  - test/fixtures/**/*
